body {
    font-family: cursive;
    background-color: rgb(241, 249, 246);
}

main-content {
    max-height: 20%;
}

footer {
    padding: 0 0;
    margin-top: 40px;
}

.navbar-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-footer ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-left: 20px;
}

.navbar-footer a {
    color: #fff;
    font-size: 16px;
}

.navbar-footer a:hover {
    color: #1abc9c;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle; /* Align icon with text */
}

.navbar {
    margin-bottom: 0;
}

#navigation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#header {
    margin-top: 50px; /* for navbar height */
    padding-bottom: 5px;
    text-align: center;
}

#main {
    position: fixed;
    padding-bottom: 70px; /* for footer height */
    width: 100%;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

p {
    font-size: 20;
    margin: 0 0 0 0;
}

#main-text {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: rgb(67, 74, 80);
}

.item-text {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-about {
    width: 80%;
}

.page-name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1abc9c;
    height: 50px;
    width: 100%;
}

.page-name p {
    font-size: 20;
    font-family: cursive;
}

.col-sm-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.main-img {
    width: 250px;
    height: 300px;
    border: 2px solid gray;
    border-radius: 8px;
    margin: 5px 0;
    transition: transform 0.3s ease; /* Smooth transition */
}

.main-img:hover {
    transform: scale(1.1); /* Scale image up to 110% of its size */
    z-index: 10; /* Bring the image to the front */
}

.col-sm-6 p {
    width: 60%;
    height: 50px;
}

.my-custom-row {
    display: flex;
    justify-content: center;
}

.my-column {
    margin: 0 15px;
}

.flash img {
    display: flex;
    width: 150px;
    height: 350px;
    margin-top: 50px;
}