body {
    font-family: cursive;;
}

footer {
    background-color: #2f2f2f; /* Dark background for footer */
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar-footer {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.text-underline {
    margin-right: 15px; /* Space between 'Contact Me' and the links */
}

.navbar-footer ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    margin-left: 20px; /* Space between links */
}

.navbar-footer a {
    color: #fff; /* Link color */
    font-size: 16px; /* Font size */
}

.navbar-footer a:hover {
    color: #1abc9c; /* Change color on hover */
}

.social-icon {
    width: 20px; /* Icon size */
    height: 20px; /* Maintain aspect ratio */
    margin-right: 5px; /* Space between icon and text */
    vertical-align: middle; /* Align icon with text */
}
.navbar {
    margin-bottom: 0;
}

p {
    font-size: 20;
    margin:  0 0 0 0;
}

.page-name {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background-color: #1abc9c;
    height: 50px;
    width: 100%; 
}

.page-name p {
    font-size: 20;
    font-family: cursive;
}